@keyframes gradientAnimation {
  0% {
    background-position: 31% 0%;
  }
  50% {
    background-position: 70% 100%;
  }
  100% {
    background-position: 31% 0%;
  }
}

@keyframes backgroundHeaderAnimation {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 84%;
  }

  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left bottom;
  }
}
