// -----------------------------------------------------------------------------
// ANIMATIONS
// -----------------------------------------------------------------------------
@keyframes backgroundHeaderAnimation {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 84%;
  }
  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left bottom;
  }
}

// -----------------------------------------------------------------------------
// RESET & BASE
// -----------------------------------------------------------------------------
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%;
  } // 1rem = 9px
  @include respond(tab-port) {
    font-size: 50%;
  } // 1rem = 8px
  @include respond(phone) {
    font-size: 50%;
  } // 1rem = 8px
  @include respond(big-desktop) {
    font-size: 75%;
  } // 1rem = 12px
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  transition: background 1s;
  background-color: $color-gray-dark-1; 
  color: $color-white;
}

.container {
  display: grid;
  grid-template-rows: 99vh;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

// -----------------------------------------------------------------------------
// UTILITIES (Titles, Buttons, Separators)
// -----------------------------------------------------------------------------
.title {
  background-color: $color-black;
  color: $color-white;
  display: grid;
  text-align: center;
  position: relative;
  height: 20rem;

  &__text {
    font-size: $font-big;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 10px $color-white;
    pointer-events: none;
  }
}

.separator {
  border-bottom: 1px solid $color-white-transparent;
}

.btn {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1;
  padding: $padding-small;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-color: $color-primary;
  color: $color-white;
  box-shadow:
    0 0 40px 40px $color-primary inset,
    0 0 0 0 $color-primary;
  transition: all 150ms ease-in-out;
  margin-top: 2rem;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-white;
    outline: 0;
    box-shadow:
      0 0 10px 0 $color-primary inset,
      0 0 10px 4px $color-primary;
  }
}

// Language Switcher (Floating Element)
#change-language {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 0.8rem;
  transition: all 0.2s;
  text-align: center;
  overflow: hidden;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #009b3a;
    & img {
      transform: scale(1);
    }
  }

  & img {
    transform: scale(2);
    height: 5rem;
    width: 5rem;
    position: absolute;
    transition: all 0.2s;
  }
}
