.contact {
  & .title {
    height: 40rem;

    &__text {
      text-shadow: none;
      pointer-events: all;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: -10;
  }

  &__list {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;

    &--item {
      list-style: none;

      &:nth-child(1) a:hover:before {
        background: #0077b5;
      }
      &:nth-child(2) a:hover:before {
        background: $color-primary;
      }
      &:nth-child(3) a:hover:before {
        background: $color-white;
      }
    }

    &--link {
      display: inline-flex;
      font-size: 8rem;
      text-decoration: none;
      color: $color-white;
      width: 20rem;
      height: 20rem;
      transition: 0.5s linear;
      position: relative;
      z-index: 1;
      margin: auto;

      &:hover {
        color: $color-white;

        &::before {
          transform: scale(1);
        }
      }

      & i {
        margin: auto;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 20rem;
        height: 20rem;
        background: #000;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0);
        transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
      }
    }
  }
}

#github-icon:hover {
  color: $color-black;
}
