.education {
  font-size: $font-normal;

  &__grid {
    padding: $padding-size;
    display: grid;
    gap: $gap-big;
  }

  &__item {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: $gap-small;

    @include respond(phone) {
      column-gap: $gap;
    }
  }

  &__where,
  &__title {
    font-weight: bold;
    color: $color-primary;
  }

  &__period,
  &__text {
    font-size: 1.8rem;
  }
}
