@use "abstracts" as *;

// -----------------------------------------------------------------------------
// SHARED OVERLAY & POPUP
// -----------------------------------------------------------------------------
.overlay {
  height: 100vh;
  width: 100vw;
  background-color: $color-black-transparent;
  position: fixed;
  color: $color-white;
  display: grid;
  justify-content: center;
  align-content: flex-end;
  z-index: 2;
  visibility: hidden;
  font-size: $font-small;
  opacity: 0;
  transition: all 0.4s;

  @include respond(tab-port) {
    align-content: center;
  }
}

.popup {
  display: grid;
  min-height: 50vh;
  max-height: 90vh;
  grid-template-columns: 60vw;
  margin-top: 10rem;
  background-color: $color-black;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px -4px 10px $color-gray-dark-2;
  padding: $padding-size;
  gap: $gap;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateY(100rem);

  @include respond(tab-port) {
    grid-template-columns: 90vw;
    margin-top: 0;
    padding: $padding-small;
  }

  &__header {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    align-content: space-around;
    align-items: center;
    column-gap: $gap;
  }

  &__icon {
    height: 8rem;
    width: 8rem;
    background-color: $color-gray-dark-2;
    border-radius: 2px;
    grid-row: 1/3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 2rem;
  }
  &__subtitle {
    color: $color-text-muted;
  }

  &__highlights {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-small $gap;
  }

  &__highlight {
    padding: $padding-small;
    border: 0.5px solid $color-white-transparent;
    border-radius: $border-radius;
    white-space: nowrap;
  }

  &__imgs {
    display: grid;
    grid-auto-flow: column;
    gap: $gap;
    cursor: grab;
    user-select: none;
    overflow: hidden;
    height: 40rem;
    @include respond(tab-land) {
      overflow: auto;
    }

    @include respond(tab-port) {
      grid-auto-columns: 100%;
      overflow-x: auto;
      cursor: default;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      height: 30rem;
    }
  }

  &__img {
    background-color: $color-gray-dark-2;
    height: 40rem;
    width: 60rem;
    border-radius: $border-radius-big;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: $padding-small;
    background-origin: content-box;

    @include respond(tab-port) {
      height: 30rem;
      width: 100%;
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }
  }

  &__imgs-dots {
    display: none;
    justify-content: center;
    gap: $gap-small;

    @include respond(tab-port) {
      display: flex;
    }
  }

  &__imgs-dot {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: $color-white-transparent;
    cursor: pointer;

    &.active {
      background-color: $color-white;
    }
  }
}

// -----------------------------------------------------------------------------
// MODAL (Other Projects)
// -----------------------------------------------------------------------------
#overlay-modal {
  align-content: center;
  justify-content: center;
}

.modal {
  transform: scale(0.8);
  display: grid;
  z-index: 3;
  transition: all 0.2s ease-in-out;
  background-color: $color-black;
  margin: 4rem;
  text-align: center;
  gap: $gap;
  min-width: 70vw;
  padding: $padding-size;
  font-size: 2rem;
  box-shadow: $shadow-white;
  border-radius: $border-radius-big;
  overflow: auto;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__project {
    background-color: #7b7b7b;
    height: 15rem;
    display: grid;
    align-items: center;
    cursor: pointer;
    box-shadow: $shadow-white;
    transition: all 0.2s;
    border-radius: $border-radius;
    text-decoration: none;
    color: white;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &:hover {
      box-shadow: $shadow-white-big;
      transform: scale(1.1);
    }
  }
}
