// -----------------------------------------------------------------------------
// SHARED OVERLAY & POPUP
// -----------------------------------------------------------------------------
.overlay {
  height: 100vh;
  width: 100vw;
  background-color: $color-black-transparent;
  position: fixed;
  color: $color-white;
  display: grid;
  justify-content: center;
  align-content: flex-end;
  z-index: 2;
  visibility: hidden;
  font-size: $font-small;
  opacity: 0;
  transition: all 0.4s;
}

.popup {
  display: grid;
  min-height: 50vh;
  grid-template-columns: 60vw;
  margin-top: 10rem;
  background-color: $color-black;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px -4px 10px $color-gray-dark-2;
  padding: $padding-size;
  gap: $gap;
  overflow-x: hidden;
  transform: translateY(100rem);

  &__header {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    align-content: space-around;
    align-items: center;
    column-gap: $gap;
  }

  &__icon {
    height: 8rem;
    width: 8rem;
    background-color: $color-gray-dark-2;
    border-radius: 2px;
    grid-row: 1/3;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 2rem;
  }
  &__subtitle {
    color: $color-gray-dark-1;
  }

  &__highlights {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: $gap;
    @include respond(tab-land) {
      overflow: auto;
    }
  }

  &__highlight {
    padding: $padding-small;
    border: 0.5px solid $color-white-transparent;
    border-radius: $border-radius;
  }

  &__imgs {
    display: grid;
    grid-auto-flow: column;
    gap: $gap;
    cursor: grab;
    user-select: none;
    overflow: hidden;
    height: 40rem;
    @include respond(tab-land) {
      overflow: auto;
    }
  }

  &__img {
    background-color: $color-gray-dark-2;
    height: 40rem;
    width: 60rem;
    border-radius: $border-radius-big;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: $padding-small;
    background-origin: content-box;
  }
}

// -----------------------------------------------------------------------------
// MODAL (Other Projects)
// -----------------------------------------------------------------------------
#overlay-modal {
  align-content: center;
  justify-content: center;
}

.modal {
  transform: scale(0.8);
  display: grid;
  z-index: 3;
  transition: all 0.2s ease-in-out;
  background-color: $color-black;
  margin: 4rem;
  text-align: center;
  gap: $gap;
  min-width: 70vw;
  padding: $padding-size;
  font-size: 2rem;
  box-shadow: $shadow-white;
  border-radius: $border-radius-big;
  overflow: auto;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__project {
    background-color: #7b7b7b;
    height: 15rem;
    display: grid;
    align-items: center;
    cursor: pointer;
    box-shadow: $shadow-white;
    transition: all 0.2s;
    border-radius: $border-radius;
    text-decoration: none;
    color: white;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &:hover {
      box-shadow: $shadow-white-big;
      transform: scale(1.1);
    }
  }
}

// Modal Images
#other-bcc {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/projects/bcc.png");
}
#other-quiz {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/projects/quizApp.png");
}
#other-slider {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/projects/sliders.png");
}
#other-list {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/projects/list.png");
}
#other-despertador {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/projects/despertador.png");
}
#other-login {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/projects/login.png");
}
#other-dictionary {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/projects/dictionary.png");
}
#other-timers {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/projects/timers.png");
}
#odp {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/projects/odp.png");
}
