.list {
  font-size: $font-normal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap;
  padding: $padding-size;
  list-style-type: none;

  &__item {
    border: 1px solid $color-black-transparent;
    background-color: $color-white;

    &--progress {
      box-sizing: border-box;
      transition: all 0.5s;
      display: grid;
      align-content: center;
      background: $color-green;
      width: 0;
      height: 50px;

      &-text {
        padding-left: $padding-small;
      }
    }

    &:hover &--progress {
      letter-spacing: 1px;
      font-weight: bold;
      width: 60%;
    }
  }
}
