.skills {
  &__grid {
    padding: $padding-size;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
  }

  &__title {
    font-size: $font-normal;
  }

  .separator{
    grid-column: 1/4;
    margin: $padding-size 0;
  }
}

.list {
  padding: 0 0 1.5rem 1.5rem;
  list-style: none;

  &__item {
    font-size: $font-small;
    color: #dedede;

    &::before {
      content: "\2022";
      color: $color-primary;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1rem;
    }
  }
}

.github {
  display: grid;
  grid-column: 2/3;
  justify-self: center;
  padding: $padding-size;

  &__text{
    font-style: italic;
    font-size: $font-small;
  }

  &__btn {
    font-size: 1rem;
  }
}
