@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

// Colors
$color-primary: #d6a283;
$color-primary-light: #e3bea9;
$color-primary-dark: #8e5433;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #999;
$color-gray-dark-2: #333;

$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.085);
$color-black: #000;

// Font
$font-primary: "Roboto", sans-serif;

$font-small: 1.5rem;
$font-normal: 2rem;
$font-big: 2.5rem;

// Shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

// Grid
$gap: 2rem;

$padding-size: 4rem;
$padding-small: 2rem;
$padding-big: 6rem;

$border-radius: 0.5rem;
